body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 text-align: center;
 margin: 0;
 padding: 0;
}
#app {
 max-width: 600px;
 margin: 50px auto;
 background-color: #fff;
 padding: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
 color: #333;
}
input {
 width: 70%;
 padding: 10px;
 margin-bottom: 10px;
}
button {
 padding: 10px;
 background-color: #4caf50;
 color: #fff;
 border: none;
 cursor: pointer;
}
ul {
 list-style-type: none;
 padding: 0;
}
li {
 background-color: #f9f9f9;
 margin: 5px 0;
 padding: 10px;
 border-radius: 5px;
}
